/.idea/
/Distributing-Computing---Assignment-1.iml
*/.idea/
*.jar
*.class
input1.txt
input2.txt
*.json
*.html
PDFConverter-LocalApp/.classpath
PDFConverter-LocalApp/.project
*.prefs
*.class
*.properties
PDFConverter-Manager/.classpath
PDFConverter-Manager/.project
*.lst
PDFConverter-Worker/.classpath
PDFConverter-Worker/.project
PDFConverter-LocalApp/target/classes/LocalAppPackage/HTMLMaker.class
